{% extends 'base.html' %}

{% block content %}
<h1>Meus Instrumentos</h1>
<a href="{% url 'novo_instrumento' %}" class="btn btn-primary">Novo Instrumento</a>

<div class="row">
    {% for instrumento in instrumentos %}
    <div class="col-md-4 mb-4">
        <div class="card">
            {% if instrumento.fotos.first %}
            <img src="{{ instrumento.fotos.first.imagem.url }}" class="card-img-top">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ instrumento.nome }}</h5>
                <p class="card-text">
                    Categoria: {{ instrumento.categoria }}<br>
                    Modelo: {{ instrumento.modelo }}<br>
                    Preço: R$ {{ instrumento.preco }}
                </p>
                <a href="{% url 'detalhe_instrumento' pk=instrumento.pk %}" class="btn btn-info">Ver Detalhes</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}